* {
  margin: 0px;
  padding: 0px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}
.box {
  font-size: 60px;
  border: 5px solid black;
  width: 200px;
  height: 160px;
  border-radius: 25%;
  text-align: center;
  background-color: rgb(252, 252, 128);
  padding-top: 60px;
  transition: all linear 2s;
}
.incre {
  background-color: rgb(249, 190, 82);
  width: 70px;
  font-size: 35px;

  border-radius: 5px;
}
.decre {
  background-color: rgb(79, 139, 208);
  width: 70px;
  font-size: 35px;
  border-radius: 5px;
}
.btn_con {
  display: flex;
  height: 45px;
  justify-content: space-evenly;
  margin-top: 30px;
}
.incre:hover,
.decre:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px gray;
}
.hbtn{
  color: white;
  background-color: black;
  border-radius: 5px;
}